ENVIRONMENT='production'
# Local MongoDB (for Mongoose)
AUTOHR_MONGODB_URI=mongodb://autohr:autohr@localhost:15999/autohr?authSource=admin
AUTOHR_DB_NAME=autohr
AUTOHR_DB_PORT=15999
AUTOHR_DB_USERNAME=autohr
AUTOHR_DB_PASSWORD=autohr

# Server Configuration
SERVER_PORT=7654

# Atlas MongoDB (for vector search)
ATLAS_MONGODB_URI=mongodb+srv://<USERNAME>:<PASSWORD>@autohr.ch9hu.mongodb.net/autohr_embedding?retryWrites=true&w=majority&appName=Autohr
MONGODB_DB_NAME=autohr_embedding

# Vector DB Configuration (optional)
# VECTOR_DB=(mongodb | qdrant | pinecone)
VECTOR_DB=mongodb
QDRANT_URL=
PINECONE_API_KEY=
OPENAI_API_KEY=sk-proj-_8z3LLtRf18L4NGCz3LzTm....